<p>
  Welcome! An account has been created for you.
</p>

<p>
  You can sign in with your email address and this temporary password:
  <strong><%= @password %></strong>
</p>

<p>
  We recommend changing your password after signing in for the first time.
</p>

<p>
  <%= link_to "Sign in", new_user_session_url %>
</p>
